<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="css/base.css" rel="stylesheet" />
    <script src="js/jquery-3.5.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/register.js"></script>
    <script src="/js/login.js"></script>
    <script src="/js/password_reset_start.js"></script>
    <script src="/js/ask_question.js"></script>
    <script src="/js/ping.js"></script>
    <script src="/js/question_timer.js"></script>
    <script src="/js/socket.io.js"></script>
    <script src="/js/ping.js"></script>
</head>
<body>