<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Nominate</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item <%= current === 'home' ? 'active' : ''%>">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item <%= current === 'ask question' ? 'active' : ''%>">
                <a class="nav-link" href="/ask_question">Ask Question</a>
            </li>
            <li class="nav-item <%= current === 'answers' ? 'active' : ''%>">
                <a class="nav-link" href="/view_answers">Answers</a>
            </li>
            <li class="nav-item <%= current === 'update password' ? 'active' : ''%>">
                <a class="nav-link" href="/update_password">Update Password</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Log Out</a>
            </li>
        </ul>
        <div style="margin-left: auto;" class="text-white d-inline-block"><%= user.name %></div>
    </div>
</nav>