<% if(message) { %>
    <% if(status === 'success') { %>
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Success!</strong> <%= message %>
        </div>
    <% } else if(status === 'warning') { %>
        <div class="alert alert-warning alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Warning!</strong> <%= message %>
        </div>
    <% } else { %>
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Error!</strong> <%= message %>
        </div>
    <% } %>
<% } %>