<%- include('./partials/header', {title: 'Nomination - Answer Question'}) %>

<div class="d-flex justify-content-start mt-1">
    <a href="/" class="btn" style="font-size: 3rem;">&#8592;</a>
</div>

<%- include('./partials/page_heading', {heading: 'Answer Question'}) %>

<h5 class="text-center"><%= user.name %></h5>

<div class="d-flex justify-content-center mt-3">
    <p class="text-center" style="width: 25rem">
        <%= targetQuestion.questionText %>
    </p>
</div>

<div class="d-flex justify-content-center mt-1 mb-3">
    <form action="/answer_question" method="post" style="width: 25rem">
        <input type="text" id="trackerId" hidden value="<%=trackerId%>" name="trackerId" />
        <input type="number" hidden value="<%=targetQuestion.expectedNumAnswers%>" name="questionsNum" />
        <div class="form-group">
            <label for="email">Answer <%=targetQuestion.expectedNumAnswers > 1 ? '#1' : ''%></label>
            <input required name="answer1" class="form-control" />
        </div>

        <%if(targetQuestion.expectedNumAnswers >= 2){%>
            <div class="form-group">
                <label for="email">Answer #2</label>
                <input required name="answer2" class="form-control" />
            </div>
        <% } %>

        <%if(+targetQuestion.expectedNumAnswers === 3){%>
            <div class="form-group">
                <label for="email">Answer #3</label>
                <input required name="answer3" class="form-control" />
            </div>
        <% } %>

        <div class="text-right">
            <button type="submit" class="btn btn-primary text-white btn-block">Answer</button>
        </div>
        <div class="mt-3">
            <span class="text-danger"><span id="remainingTimeLabel"><%=questionRemainingTime%></span> seconds remaining on this question</span>
        </div>
        <hr />
        <div class="text-center">
            <span> <%= gameRemainingTime %> minutes remaining on this game</span>
        </div>
    </form>
</div>

<%- include('./partials/footer') %>