<%- include('./partials/header', {title: 'Nomination - Ask Question'}) %>

<%- include('./partials/menu', {current: 'ask question'}) %>

<div class="mt-4">
    <%- include('./partials/logo') %>
    <div class="d-flex justify-content-center mt-4">
        <form method="post" style="width: 25rem" id="askQnForm">
            <%- include('./partials/message', {message, status}) %>

            <div class="form-group">
                <label for="questionText">What is your question?</label>
                <textarea name="questionText" id="questionText" class="form-control"><%= tempQuestion.questionText%></textarea>
                <small class="text-danger" id="questionTextError">Question is required</small>
            </div>

            <div class="form-group">
                <label for="pwd">How many answers are you looking for?</label>
                <select name="expectedNumAnswers" class="form-control">
                    <option <% tempQuestion.expectedNumAnswers === 1 ? 'selected' : '' %> value="1">1</option>
                    <option <% tempQuestion.expectedNumAnswers === 2 ? 'selected' : '' %> value="2">2</option>
                    <option <% tempQuestion.expectedNumAnswers === 3 ? 'selected' : '' %> value="3">3</option>
                </select>
            </div>
            <div class="form-group">
                <label for="questionTimer">Question Timer (in seconds)</label>
                <input name="questionTimer" class="form-control" value="<%= tempQuestion.questionTimer > 0 ? tempQuestion.questionTimer : ''%>" type="number" placeholder="30 - 60 seconds" id="questionTimer"/>
                <small class="text-danger" id="questionTimerError">Question is required</small>
            </div>
            <div class="form-group">
                <label for="gameTimer">Game Timer (in minutes)</label>
                <input name="gameTimer" id="gameTimer" value="<%= tempQuestion.gameTimer > 0 ? tempQuestion.gameTimer : ''%>" class="form-control" type="number" placeholder="15 - 60 minutes" />
                <small class="text-danger" id="gameTimerError">Question is required</small>
            </div>

            <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-primary text-white" onclick="doAskQuestion()">Next</button>
            </div>
        </form>
    </div>
</div>

<%- include('./partials/footer') %>