<%- include('./partials/header', {title: 'Nomination - Update Password'}) %>


<div class="d-flex justify-content-center mt-5">
    <div style="width: 25rem">
        <%- include('partials/message', {message, status}) %>
    </div>
</div>

<%- include('./partials/logo') %>
<h2 class="text-center mt-4 mb-3">Update Password</h2>

<div class="d-flex justify-content-center">
    <form method="post" style="width: 25rem">
        <div class="form-group">
            <label for="newPassword">Enter New Password</label>
            <input type="password" class="form-control" id="newPassword" name="newPassword" required>
        </div>

        <div class="form-group">
            <label for="confirmNewPassword">Confirm New Password</label>
            <input type="password" class="form-control" id="confirmNewPassword" name="confirmNewPassword" required>
        </div>
        <input type="text" name="t"  hidden value="<%= t %>" />
        <button type="submit" class="btn btn-primary text-white btn-block">Update Password</button>
    </form>
</div>

<div class="text-center mt-4">
    <a href="/login" class="text-dark">Already have an account? Login here.</a>
</div>

<%- include('./partials/footer') %>