<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nomination - Home</title>
    <link href="css/base.css" rel="stylesheet" />
    <script src="js/jquery-3.5.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/ping.js"></script>
    <script src="/js/socket.io.js"></script>
    <script src="/js/invites_notifier.js"></script>
</head>
<body>
<%- include('./partials/menu', {current: 'home'}) %>

<div id="home-flag" data-page="home"></div>
<div class="d-flex justify-content-center">
    <div style="width: 30rem" class="mt-3">
        <%- include('partials/message', {status, message}) %>
    </div>
</div>

<div hidden id="currentUserId"><%= user.email %></div>

<% if(pendingInvites.length === 0) { %>
    <div id="noInvitesWrapper">
        <%- include('./partials/logo') %>
        <div class="d-flex justify-content-center">
            <div class="d-flex justify-content-center p-4 border mt-3" style="width: 60rem;">
                <div style="width: 30rem">
                    You do not have any pending questions to answer at the moment.
                </div>
            </div>
        </div>
    </div>
<% } %>

<div id="invitesWrapper" data-section="invites">
    <% if (pendingInvites.length > 0) { %>
        <div class="ml-5 mr-5 mt-3">
            <%- include('./partials/logo') %>
            <h4>My Pending Questions</h4>
            <table class="table table-hover table-bordered">
                <thead>
                <tr>
                    <th>Initiator</th>
                    <th>Question</th>
                    <th>Game Timeout</th>
                    <th>Question Timeout</th>
                    <th class="text-danger">Remaining Time</th>
                    <th class="text-center">Answer</th>
                </tr>
                </thead>
                <tbody id="pendingInvitesBody">
                <% for(let pendingInvite of pendingInvites) { %>
                    <tr>
                        <td><%= pendingInvite.initiator.name %></td>
                        <td><%= pendingInvite.question.questionText %></td>
                        <td><%= pendingInvite.question.gameTimer %> minutes</td>
                        <td><%= pendingInvite.question.questionTimer %> seconds</td>
                        <td class="text-danger"><%= pendingInvite.remainingTime %> minutes</td>
                        <td class="text-center">
                            <a href="/accept_invite?trackerId=<%= pendingInvite.trackerId %>"
                               class="btn btn-primary text-white btn-sm">Answer</a>
                        </td>
                    </tr>
                <% } %>
                </tbody>
            </table>
        </div>
    <% } %>
</div>


<%- include('./partials/footer') %>