<%- include('./partials/header', {title: 'Nomination - Log In'}) %>

<div class="d-flex justify-content-center mt-4">
    <div style="width: 25rem">
        <%- include('partials/message', {message, status}) %>
    </div>
</div>

<%- include('./partials/logo') %>
<h2 class="text-center mt-2 mb-3">Login</h2>

<div class="d-flex justify-content-center">
    <form method="post" style="width: 25rem" id="loginForm">

        <div class="form-group">
            <label for="username">Enter your email</label>
            <input type="email" class="form-control" id="email" name="username" required>
            <small id="emailError" class="text-danger">Email is required</small>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
            <small id="passwordError" class="text-danger">Email is required</small>
        </div>
        <button type="button" class="btn btn-primary text-white btn-block" onclick="doLogin()">Login</button>
    </form>
</div>

<div class="text-center mt-4">
    <a href="/register" class="text-dark">Don't have an account? Register here.</a>
</div>

<div class="text-center mt-2">
    <a href="/reset_password" class="text-dark">Forgot Password? Reset here.</a>
</div>

<%- include('./partials/footer') %>