<%- include('./partials/header', {title: 'Nomination - Ask Question'}) %>
<div class="d-flex justify-content-start mt-1">
    <button onclick="back()" class="btn" style="font-size: 3rem;">&#8592;</button>
</div>

<%- include('./partials/page_heading', {heading: 'Nominate A User'}) %>

<div class="d-flex justify-content-center mt-5">
    <form method="get" action="/online_users" style="width: 25rem">
        <input type="text" hidden value="<%=qnToken%>" name="qnToken">
        <button class="btn btn-primary text-white p-3 btn-large btn-block">Nominate User</button>
    </form>
</div>
<div class="d-flex justify-content-center mt-3">
    <form method="post" style="width: 25rem">
        <input type="text" hidden value="<%=qnToken%>" name="qnToken">
        <input type="text" hidden value="random" name="inviteEmail">
        <button class="btn btn-primary text-white p-3 btn-large btn-block mt-5">Nominate a Random User</button>
    </form>
</div>

<%- include('./partials/footer') %>