<%- include('./partials/header', {title: 'Nomination - Register'}) %>

<div class="d-flex justify-content-center mt-5">
    <div style="width: 25rem">
        <%- include('partials/message', {message, status}) %>
    </div>
</div>

<%- include('./partials/logo') %>
<h2 class="text-center mt-4 mb-3">Register</h2>

<div class="d-flex justify-content-center">
    <form method="post" style="width: 25rem" id="registerForm">
        <div class="form-group">
            <label for="name">Enter your name</label>
            <input type="text" class="form-control" id="name" name="name" required>
            <small id="nameError" class="text-danger">Name is required</small>
        </div>

        <div class="form-group">
            <label for="email">Enter your email</label>
            <input type="email" class="form-control" id="email" name="email" required>
            <small id="emailError" class="text-danger">* Email is required</small>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
            <small id="passwordError" class="text-danger">* Email is required</small>
        </div>

        <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
            <small id="confirmPasswordError" class="text-danger">* Email is required</small>
        </div>
        <button onclick="doRegister()" type="button" class="btn btn-primary text-white btn-block">Register</button>
    </form>
</div>

<div class="text-center mt-4">
    <a href="/login" class="text-dark">Already have an account? Login here.</a>
</div>

<%- include('./partials/footer') %>