<%- include('./partials/header', {title: 'Nomination - Online Users'}) %>
<div class="d-flex justify-content-start mt-1">
    <button onclick="back()" class="btn" style="font-size: 3rem;">&#8592;</button>
</div>

<%- include('./partials/page_heading', {heading: 'Send To Online User'}) %>

<% if (users.length === 0) { %>
<div class="text-center">
    No online users currently found that can answer this question.
</div>
<div class="text-center mt-4">
    <a class="btn btn-primary text-white" href="/renominate_online_users?prevTrackerId=<%= prevTrackerId %>">Refresh</a>
    <a class="btn btn-outline-primary ml-4" href="/">Back Home</a>
</div>
<% } %>

<div class="d-flex justify-content-center mt-5" id="marker-div" data-main="online-users">
    <ul class="list-group" style="width: 30rem;" id="user-list-group">
        <% for (let user of users) { %>
            <li class="list-group-item">
                <form action="/renominate_user" class="d-flex justify-content-between" method="post">
                    <span><%= user.name %> - <%= user.username %> </span>
                    <input type="text" hidden value="<%=user.email%>" name="inviteEmail" />
                    <input type="text" hidden value="<%=prevTrackerId%>" name="prevTrackerId" />
                    <button type="submit" class="btn btn-primary btn-sm text-white">Send</button>
                </form>
            </li>
        <% } %>
    </ul>
</div>

<%- include('./partials/footer') %>