<%- include('./partials/header', {title: 'Nomination - Answers'}) %>

<div class="d-flex justify-content-start mt-1">
    <button onclick="back()" class="btn" style="font-size: 3rem;">&#8592;</button>
</div>

<%- include('./partials/page_heading', {heading: 'Answers'}) %>
<h4 class="text-center">Question: <%= targetQuestion.questionText %></h4>
<div class="d-flex justify-content-center mt-4" id="marker-div" data-main="online-users">
    <ul class="list-group" style="width: 50rem;" id="user-list-group">
        <% for (let invite of answeredInvites) { %>
            <li class="list-group-item">
                <span><%= invite.user.name %> - <%= invite.username %> </span>
                <div class="d-flex justify-content-between mt-2">
                    <span>Answer <%=targetQuestion.expectedNumAnswers > 1 ? '1' : ''%>: <%=invite.answer1%></span>

                    <% if(targetQuestion.expectedNumAnswers >= 2){ %>
                        <span>Answer2: <%=invite.answer2%></span>
                    <% } %>

                    <% if(+targetQuestion.expectedNumAnswers === 3){ %>
                        <span>Answer3: <%=invite.answer3%></span>
                    <% } %>
                </div>
            </li>
        <% } %>
    </ul>
</div>

<%- include('./partials/footer') %>