<%- include('./partials/header', {title: 'Nomination - Reset Password'}) %>


<div class="d-flex justify-content-center mt-5">
    <div style="width: 25rem">
        <%- include('partials/message', {message, status}) %>
    </div>
</div>

<%- include('./partials/logo') %>
<h2 class="text-center mt-4 mb-4">Reset Password</h2>

<div class="d-flex justify-content-center">
    <form method="post" style="width: 25rem" id="resetPasswordStartForm">
        <div class="form-group">
            <label for="email">Enter your email</label>
            <input type="email" class="form-control" id="email" name="email" required>
            <small id="emailError" class="text-danger">Email is required</small>
        </div>

        <button type="button" class="btn btn-primary text-white btn-block" onclick="doPasswordResetStart()">Reset Password</button>
    </form>
</div>

<div class="text-center mt-4">
    <a href="/login" class="text-dark">Already have an account? Login.</a>
</div>

<%- include('./partials/footer') %>