<%- include('./partials/header', {title: 'Nomination - Ask Question'}) %>

<%- include('./partials/menu', {current: 'update password'}) %>

<div class="mt-5">
    <%- include('./partials/logo') %>
    <div class="d-flex justify-content-center mt-4">
        <form method="post" style="width: 25rem">

            <%- include('./partials/message', {message, status}) %>

            <div class="form-group">
                <label for="email">Enter old password</label>
                <input type="password" class="form-control" name="oldPassword" />
            </div>

            <div class="form-group">
                <label for="email">Enter new password</label>
                <input type="password" class="form-control" name="newPassword" />
            </div>

            <div class="form-group">
                <label for="email">Confirm new password</label>
                <input type="password" class="form-control" name="confirmNewPassword" />
            </div>

            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary text-white btn-block">Update</button>
            </div>
        </form>
    </div>
</div>

<%- include('./partials/footer') %>