<%- include('./partials/header', {title: 'Nomination - View Answers'}) %>

<%- include('./partials/menu', {current: 'answers'}) %>

<div class="ml-5 mr-5 mt-3">
    <%- include('./partials/logo') %>
    <h3>Game Answers</h3>
    <table class="table table-hover table-bordered">
        <thead>
        <tr>
            <th>Initiator</th>
            <th>Question</th>
            <th>Game Timeout</th>
            <th>Question Timeout</th>
            <th>View Answers</th>
        </tr>
        </thead>
        <tbody>
        <% for (let question of answeredQuestions) {%>
            <tr>
                <td><%= question.user.name %></td>
                <td><%= question.questionText %></td>
                <td><%= question.questionTimer%> Seconds</td>
                <td><%=question.gameTimer%> Minutes</td>
                <td>
                    <a href="/single_question_answers?qnTrackerId=<%=question.trackerId%>" class="btn btn-primary text-white btn-sm">Answers</a>
                </td>
            </tr>
        <% } %>
        </tbody>
    </table>
</div>

<%- include('./partials/footer') %>